@model CatalogHomeViewModel

@{
	ViewBag.Title = "Index";
}

@section styles {
	<style>
		@@media(min-width: 992px) {
			main {
				min-height: 955px;
			}
		}

		.collapsing {
			position: static;
		}
	</style>
}

@section scripts {
	<script type="text/javascript">
		$(function () {
			var form = $('form.collapse');
			var btn = $('#toggle-btn');

			$(form).on('show.bs.collapse', function () {
				$(btn).children('span').text('Скрыть');
			});

			$(form).on('hide.bs.collapse', function () {
				$(btn).children('span').text('Отобразить');
			});

			$(window).resize(function () {
				var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
				w && w >= 992 ? $(form).collapse('show') : $(form).collapse('hide');
			});

			$(btn).click(function () {
				$(form).collapse('toggle');
			});
		});
	</script>
}

<div class="page-header">
	<h1>Catalog Index</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<p class="visible-xs visible-sm">
			<button type="button" class="btn btn-block btn-primary" id="toggle-btn"><span>Скрыть</span> фильтры</button>
		</p>
		@Html.Partial("Partial/Catalog/AsideForm", Model.FormModel)
	</div>
</div>
<div class="row">
	<div class="col-md-9 col-lg-9">
		@Html.Partial("Partial/Catalog/ProductCard")
		@Html.Partial("Partial/Catalog/ProductListPaging")
	</div>
</div>

@*@Html.Partial("Partial/BackToTopButton")*@
