@model KitViewModel

@{
	ViewBag.Title = "Kit";
}

<div class="page-header">
	<h1>@Model.Kit.CaptionShort</h1>
</div>

@Html.Partial("Partial/Catalog/ProductItem", Model.Kit)

@if (Model.IncludedProducts != null && Model.IncludedProducts.Any())
{
	<h3>В набор включена следующая продукция</h3>
	@Html.Partial("Partial/Catalog/ProductOrderedList", Model.IncludedProducts)
}
