
@{
	ViewBag.Title = "Product";
}

<div class="page-header">
	<h1>Название продукции (краткое)</h1>
</div>

<p class="lead">Полное название продукции</p>

@Html.Partial("Site/ProductItem")

<h3>Эта продукция в другой таре</h3>
@Html.Partial("Site/SimilarProduct")

<h3>Данная продукция включена в следующие наборы</h3>
@Html.Partial("Partial/Catalog/ProductOrderedList")
