
@{
	ViewBag.Title = "Product";
}

<div class="page-header">
	<h1>Название продукции (краткое)</h1>
</div>

@Html.Partial("Partial/Catalog/ProductItem")

<h3>Эта продукция в другой таре и упаковке</h3>
@Html.Partial("Partial/Catalog/ProductAnotherContainer")

<h3>Данная продукция включена в следующие наборы</h3>
@Html.Partial("Partial/Catalog/ProductOrderedList")
