@model CatalogHomeViewModel

@{
	ViewBag.Title = "Index";
}

<div class="page-header">
	<h1>Каталог</h1>
</div>

<p class="lead text-info">Вся продукция на одной странице</p>

@if (!Model.Items.Any())
{
	<p class="text-info">По данному запросу ничего не найдено</p>
}
else
{
	foreach (var m in Model.Items)
	{
		@Html.Partial("Partial/Catalog/ItemCard", m)
	}
}
