@model ProductBase

@{
	var action = Model.GetIsKit ? "Kit" : "Product";
	var link = Url.Action(action, "Catalog" , new { Item = Model.Uri });
}

<div class="product-card-placeholder">
	<a href="@link" class="card">
		<div class="content">
			<div class="sign clearfix">
				<span class="code"><i>Артикул:</i> <b>@Model.Code</b></span>
				@if (Model.GetIsKit)
				{
					<span class="kit"><i>Набор:</i> <span class="glyphicon glyphicon-ok"></span></span>
				}
			</div>
			<div class="caption">@Model.Caption</div>
			<img src="@Url.Content($"~/img/preview/{Model.PhotoPath}")" alt="" class="img-responsive image" />
			<span class="btn btn-link btn-block link">Подробнее</span>
		</div>
	</a>
</div>
