<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Артикул</th>
			<th>Наименование</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>А000000</td>
			<td>Наименование набора</td>
			<td>
				<a href="#" class="btn btn-link">Перейти</a>
			</td>
		</tr>
		<tr>
			<td>А000000</td>
			<td>Наименование набора</td>
			<td>
				<a href="#" class="btn btn-link">Перейти</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>