@model IEnumerable<Hozpm.Logic.Entities.ProductBase>

<ol class="product-ordered-list">
	@foreach (var p in Model)
	{
		var action = p.GetIsKit ? "Kit" : "Product";
		var link = Url.Action(action, "Catalog", new { Item = p.Uri });

		<li>
			<a href="@link">
				<div class="code">
					<span class="text">Артикул:</span>
					<span class="value">@p.Code</span>
				</div>
				<div class="caption">@p.Caption</div>
			</a>
		</li>
	}
</ol>
