<div class="product-item clearfix">
	<div class="clearfix">
		<img src="http://placehold.it/500x500" alt="" class="img-responsive image" />
		<p class="code">
			Артикул: <b>A000000</b>
		</p>
		<p class="kit">
			Набор: <span class="glyphicon glyphicon-ok"></span>
		</p>
		<p class="weight">
			Масса: <b>XX</b>
		</p>
		<p class="volume">
			Объем: <b>XX</b>
		</p>
		<p class="dimensions">
			Размер тары: <span class="text-nowrap"><b>XX</b> x <b>XX</b> x <b>XX</b></span>
		</p>
	</div>
	<p class="lead caption-full">Полное и длиннющее название продукции (полное)</p>
	<div class="description">
		<p>
			Резьбовые опоры применяются в качестве ножек металлических и деревянных конструкций и могут использоваться для регулирования высоты.
			Изделия применяются при сборке складских стеллажей, торгового оборудования, офисной мебели, шкафов, диванов, кроватей, спортивного инвентаря и других конструкций.
		</p>
		<p>
			Производство резьбовых опор для металлических и деревянных конструкций.
		</p>
		<div>
			<h5>Регулируемых опоры применяются:</h5>
			<ul>
				<li>В качестве ножек стеллажей, корпусной и офисной мебели, спортивных снарядов и прочих конструкций</li>
				<li>Для регулирования высоты всей конструкции или ее отдельных частей</li>
			</ul>
		</div>
		<h5>Возможно изготовление нестандартных изделий:</h5>
		<ul>
			<li>Возможен подбор цвета основания</li>
			<li>Изготовление опоры со стержнем необходимой длины</li>
			<li>Изготовление с использованием нержавеющего или оцинкованного стержня</li>
		</ul>
	</div>
</div>
