<ol class="product-ordered-list">
	@for (var i = 0; i < 4; i++)
	{
		<li>
			<a href="@Url.Action("Product", "Catalog")">
				<span>А000000</span>
				<br/>
				<span>Полное наименование продукции, которая включена в набор</span>
			</a>
		</li>
	}
</ol>
