@import (once) '../../variables.less';
@import (once) '../../mixins.less';

.product-item {

	.image {
		width: 250px;
		height: 250px;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		border-radius: @element-border-radius;
	}

	.code,
	.kit,
	.weight,
	.volume,
	.dimensions {
		font-size: 16px;
	}
}
