@font-face {
  font-family: 'social-icons';
  src: url('../fonts/social-icons.eot?59928839');
  src: url('../fonts/social-icons.eot?59928839#iefix') format('embedded-opentype'), url('../fonts/social-icons.woff2?59928839') format('woff2'), url('../fonts/social-icons.woff?59928839') format('woff'), url('../fonts/social-icons.ttf?59928839') format('truetype'), url('../fonts/social-icons.svg?59928839#social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="si-"]:before,
[class*=" si-"]:before {
  font-family: "social-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.si-twitter:before {
  content: '\e800';
}
.si-vkontakte:before {
  content: '\e801';
}
.si-facebook:before {
  content: '\e802';
}
.si-at:before {
  content: '\e803';
}
.si-digg:before {
  content: '\e804';
}
.si-linkedin:before {
  content: '\e805';
}
.si-youtube:before {
  content: '\e806';
}
.si-gplus:before {
  content: '\e807';
}
.si-skype:before {
  content: '\e808';
}
.si-whatsapp:before {
  content: '\e809';
}
.si-wechat:before {
  content: '\e80a';
}
.si-reddit:before {
  content: '\e80b';
}
.si-pinterest:before {
  content: '\e80c';
}
.si-delicious:before {
  content: '\e80d';
}
.si-tumblr:before {
  content: '\e80e';
}
.si-evernote:before {
  content: '\e80f';
}
.si-tencent-weibo:before {
  content: '\e810';
}
.si-odnoklassniki:before {
  content: '\e811';
}
.si-icq:before {
  content: '\e812';
}
.si-delicious-1:before {
  content: '\e813';
}
header {
  position: relative;
}
header > .content-wrap {
  position: relative;
}
header > .content-wrap .contact {
  display: none;
  float: right;
  font-size: 22px;
  text-align: right;
  line-height: 35px;
  padding: 30px 15px;
  color: #000;
  text-shadow: 1px 1px 1px #888;
  text-transform: uppercase;
}
header > .content-wrap > .menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
}
header > .content-wrap > .menu-wrap .navbar-header > button > .icon-bar {
  background-color: #333;
}
header > .content-wrap > .menu-wrap .navbar-agile {
  color: #333;
  background-color: #f9f9f9;
  border-bottom-color: #ccc;
  margin-bottom: 0;
  overflow: hidden;
  z-index: 10000;
}
header > .content-wrap > .menu-wrap .navbar-agile .navbar-collapse {
  border-color: #e7e7e7;
}
header > .content-wrap > .menu-wrap .navbar-agile a {
  text-decoration: none;
  color: #333;
}
header > .content-wrap > .menu-wrap .navbar-agile a:hover,
header > .content-wrap > .menu-wrap .navbar-agile a:visited,
header > .content-wrap > .menu-wrap .navbar-agile a:focus {
  text-decoration: none;
}
header > .content-wrap > .menu-wrap .navbar-agile a:hover {
  color: #333;
}
header > .content-wrap > .menu-wrap .navbar-agile a:visited {
  color: #333;
}
header > .content-wrap > .menu-wrap .navbar-agile a:focus {
  color: #333;
}
header > .content-wrap > .menu-wrap .navbar-agile ul.nav > li > a:hover {
  background-color: #e6e6e6;
}
@media (min-width: 992px) {
  header > .content-wrap {
    height: 130px;
    background: url('../img/avrgroup_logo.png') left center no-repeat, url('../img/contact-bg.png') right center no-repeat, url('../img/factory_1920x130.jpg') center center;
    box-shadow: 0px 1px 8px #000;
  }
  header > .content-wrap .contact {
    display: inline-block;
  }
  header > .content-wrap > .menu-wrap {
    top: auto;
    left: 0;
    right: 0;
    bottom: -26px;
    text-align: center;
    line-height: 0;
  }
  header > .content-wrap > .menu-wrap .navbar-agile {
    display: inline-block;
    border-color: #ccc;
    border-radius: 6px;
    min-height: 44px;
  }
  header > .content-wrap > .menu-wrap .navbar-agile .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  header > .content-wrap > .menu-wrap ul.nav > li > a {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-right: 1px solid #ccc;
  }
  header > .content-wrap > .menu-wrap ul.nav li > a.last {
    border-right: none;
  }
}
footer > .content-wrap {
  color: #ccc;
  background-color: #303030;
}
footer > .content-wrap .text {
  padding: 10px 0;
  display: none;
  text-transform: uppercase;
}
footer > .content-wrap .contact {
  padding: 10px 0;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  text-shadow: 1px 1px 1px #888;
  text-transform: uppercase;
}
footer > .content-wrap .copywrite {
  padding: 12px 0;
  text-align: center;
}
footer > .content-wrap .manage {
  display: none;
  text-align: right;
  font-size: 10px;
  text-transform: uppercase;
  padding: 15px 0;
}
footer > .content-wrap .bg {
  color: #8c8c8c;
  background-color: #3d3d3d;
}
footer > .content-wrap .bg a {
  text-decoration: none;
  color: #8c8c8c;
}
footer > .content-wrap .bg a:hover,
footer > .content-wrap .bg a:visited,
footer > .content-wrap .bg a:focus {
  text-decoration: none;
}
footer > .content-wrap .bg a:hover {
  color: #8c8c8c;
}
footer > .content-wrap .bg a:visited {
  color: #8c8c8c;
}
footer > .content-wrap .bg a:focus {
  color: #8c8c8c;
}
@media (min-width: 768px) {
  footer > .content-wrap .text {
    display: block;
  }
  footer > .content-wrap .contact {
    text-align: right;
  }
}
@media (min-width: 992px) {
  footer > .content-wrap .manage {
    display: block;
  }
  footer > .content-wrap .copywrite {
    text-align: left;
  }
}
footer > .content-wrap .ya-share2 > div > ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
footer > .content-wrap .ya-share2 > div > ul li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}
footer > .content-wrap .ya-share2 > div > ul li .ya-share2__badge .ya-share2__icon {
  font: normal normal normal 20px/1 'social-icons';
  text-rendering: auto;
}
footer > .content-wrap .ya-share2 > div > ul li .ya-share2__counter,
footer > .content-wrap .ya-share2 > div > ul li .ya-share2__title {
  display: none;
}
footer > .content-wrap .ya-share2 > div > ul li a {
  text-decoration: none;
  color: #30e5ff;
  text-shadow: 1px 1px 20px #30e5ff;
}
footer > .content-wrap .ya-share2 > div > ul li a:hover,
footer > .content-wrap .ya-share2 > div > ul li a:visited,
footer > .content-wrap .ya-share2 > div > ul li a:focus {
  text-decoration: none;
}
footer > .content-wrap .ya-share2 > div > ul li a:hover {
  color: #96f2ff;
}
footer > .content-wrap .ya-share2 > div > ul li a:visited {
  color: #30e5ff;
}
footer > .content-wrap .ya-share2 > div > ul li a:focus {
  color: #30e5ff;
}
footer > .content-wrap .ya-share2 > div > ul li a:hover {
  text-shadow: 1px 1px 20px #96f2ff;
}
footer > .content-wrap .ya-share2 > div > ul li[class$="vkontakte"] .ya-share2__icon:before {
  content: '\e801';
}
footer > .content-wrap .ya-share2 > div > ul li[class$="facebook"] .ya-share2__icon:before {
  content: '\e802';
}
footer > .content-wrap .ya-share2 > div > ul li[class$="_odnoklassniki"] .ya-share2__icon:before {
  content: '\e811';
}
footer > .content-wrap .ya-share2 > div > ul li[class$="gplus"] .ya-share2__icon:before {
  content: '\e807';
}
footer > .content-wrap .ya-share2 > div > ul li[class$="linkedin"] .ya-share2__icon:before {
  content: '\e805';
}
html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
main {
  padding-top: 52px;
  padding-bottom: 186px;
}
footer {
  height: 186px;
  margin-top: -186px;
}
.group-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 25px;
  width: 358px;
  height: 619px;
  background-color: transparent;
}
.group-card > .photo {
  height: 203px;
  border-bottom: 1px solid #ddd;
}
.group-card > .caption,
.group-card > .description,
.group-card > .links {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin: 0;
}
.group-card > .caption {
  height: 82px;
  text-align: center;
  line-height: 26px;
}
.group-card > .description {
  height: 200px;
  overflow: hidden;
}
.group-card .links {
  height: 134px;
  padding-bottom: 0;
  border-bottom: none;
}
.group-card .links > .btn {
  display: inline-block;
  margin: 8px 10px 0 0;
}
.sorting-form {
  padding-top: 15px;
  padding-bottom: 15px;
}
.aside-form {
  position: absolute;
  left: 877px;
  top: 64px;
}
.aside-form .checkbox-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}
.aside-form .checkbox-list > div {
  height: 215px;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 5px;
}
.back-to-top {
  position: fixed;
  left: 82%;
  top: 70%;
  font-size: 36px;
  text-decoration: none;
}
.back-to-top:hover,
.back-to-top:visited,
.back-to-top:focus {
  text-decoration: none;
}
.product-list {
  overflow: hidden;
  text-align: center;
}
.product-list .code {
  width: 90px;
}
.product-list .caption {
  width: 435px;
}
.product-list .kit {
  width: 76px;
}
.product-list .image {
  width: 128px;
}
.product-list .link {
  width: auto;
}
.product-list tbody > tr > td {
  padding: 0;
  position: relative;
  height: 128px;
}
.product-list tbody .wrap {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #333;
  display: block;
  z-index: 10000;
  transition: left ease-in-out 0.15s, right ease-in-out 0.15s, bottom ease-in-out 0.15s, border-color ease-in-out 0.15s;
}
.product-list tbody .wrap:hover,
.product-list tbody .wrap:visited,
.product-list tbody .wrap:focus {
  text-decoration: none;
}
.product-list tbody .wrap:hover {
  color: #333;
}
.product-list tbody .wrap:visited {
  color: #333;
}
.product-list tbody .wrap:focus {
  color: #333;
}
.product-list tbody .wrap:hover {
  border-color: #337ab7;
  box-shadow: #ccc 1px 1px 5px;
  left: -6px;
  right: 3px;
  bottom: -1px;
  z-index: 10001;
  box-shadow: #ccc 3px 0 5px;
  background-color: #f5f5f5;
}
.product-list tbody .code,
.product-list tbody .caption,
.product-list tbody .kit,
.product-list tbody .image,
.product-list tbody .link {
  float: left;
  overflow: hidden;
  height: 128px;
  padding: 8px;
  border-right: 1px solid #ddd;
}
.product-list tbody .code,
.product-list tbody .caption {
  font-size: 15px;
}
.product-list tbody .caption {
  text-align: left;
}
.product-list tbody .code {
  font-weight: bold;
}
.product-list tbody .kit {
  color: #3c763d;
}
.product-list tbody .image {
  height: 128px;
  padding: 0px;
}
.product-list tbody .link {
  width: 116px;
  border-right: none;
}
.product-cards .card-wrap {
  position: relative;
  width: 414px;
  height: 352px;
  display: inline-block;
  margin: 0 15px 15px 0;
}
.product-cards .card-wrap:nth-child(2n) {
  margin: 0 0 15px 0;
}
.product-cards .product-card {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  transition: left ease-in-out 0.15s, right ease-in-out 0.15s, bottom ease-in-out 0.15s, border-color ease-in-out 0.15s;
  text-decoration: none;
  color: #333;
}
.product-cards .product-card:hover,
.product-cards .product-card:visited,
.product-cards .product-card:focus {
  text-decoration: none;
}
.product-cards .product-card:hover {
  color: #333;
}
.product-cards .product-card:visited {
  color: #333;
}
.product-cards .product-card:focus {
  color: #333;
}
.product-cards .product-card:hover {
  border-color: #337ab7;
  left: -3px;
  right: -3px;
  bottom: -3px;
  box-shadow: #ccc 1px 1px 5px;
}
.product-cards .product-card .content {
  width: 414px;
  height: 352px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
.product-cards .product-card .caption {
  height: 80px;
  font-size: 15px;
}
.product-cards .product-card .code {
  height: 22px;
  text-align: center;
  color: #999;
}
.product-cards .product-card .code > span {
  font-size: 16px;
  font-weight: bold;
}
.product-cards .product-card .image {
  margin-bottom: 10px;
}
.product-cards .product-card .kit {
  text-align: center;
}
.product-cards .product-card .kit > span {
  font-size: 16px;
  color: #3c763d;
}
.product-cards .product-card .link {
  text-align: center;
  color: #337ab7;
  font-size: 16px;
}
.product-list-pagination {
  text-align: center;
}
.product-ordered-list > li {
  margin-bottom: 15px;
}