<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Вернуться на сайт</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
			<ul class="nav navbar-nav">
				<li><a href="#">Старновая страница</a></li>
				<li><a href="#">Группы</a></li>
				<li><a href="#">Назначения</a></li>
				<li><a href="#">Продукция</a></li>
				<li><a href="#">Наборы</a></li>
			</ul>
			<p class="navbar-text navbar-right">Выполнен вход: <a href="#" class="navbar-link">User 1</a></p>
		</div>
	</div>
</nav>