@using System.Reflection

@{
	Layout = null;
	var version = Assembly.GetAssembly(typeof (Global)).GetName().Version;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>_LayoutManagement</title>
</head>
<body>

	<script src="@Url.Content("~/scripts/require.js")" data-main="@Url.Content("~/app/app.loader.js")"></script>
	<script>
		require.config({
			urlArgs: 'v=@version',
			baseUrl: 'app',
			paths: {
				jquery: '../scripts/jquery-1.12.4',
				bootstrap: '../scripts/bootstrap',
				knockout: '../scripts/knockout-3.4.0',
				sammy: '../scripts/sammy-0.7.5'
			}
		});

		var fwStyles = [
			'@Url.Content("~/content/bootstrap.css")'
		];
	</script>

</body>
</html>
