
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>_LayoutManagement</title>
</head>
<body>

	123

	@Styles.Render("~/css/bootstrap.css")
	@Scripts.Render("~/js/jquery.js", "~/js/bootstrap.js", "~/js/require.js", "~/js/sammy.js", "~/js/knockout.js")
</body>
</html>
