@using System.Diagnostics
@using System.Reflection

@{
	Layout = null;
	var version = FileVersionInfo.GetVersionInfo(Assembly.GetAssembly(typeof(Global)).Location).ProductVersion;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>_LayoutManagement</title>
</head>
<body>

	<!-- ko component: "navbar-component" --><!-- /ko -->

	@Styles.Render("~/css/bootstrap.css")

	<script src="@Url.Content("~/scripts/require.js")" data-main="@Url.Content("~/app/app")"></script>
	<script>
		require.config({
			urlArgs: 'v=@version',
			baseUrl: 'app',
			paths: {
				jquery: '../scripts/jquery-1.12.4',
				bootstrap: '../scripts/bootstrap',
				knockout: '../scripts/knockout-3.4.0',
				sammy: '../scripts/sammy-0.7.5',
				text: '../scripts/text'
			},
			shim: {
				bootstrap: {
					deps: ['jquery']
				}
			}
		});
	</script>

</body>
</html>
