//screen
@screen-xs-max: 768px;
@screen-sm-min: 768px;
@screen-sm-max: 992px;
@screen-md-min: 992px;
@screen-md-max: 1200px;
@screen-lg-min: 1200px;

//color
@bs-primary-color: #337ab7;
@bs-success-color: #3c763d;
@share-icon-color: #30e5ff;

//border
@element-border-radius: 4px;

//sticky footer
@footer-xs-height: 176px;
@footer-md-height: 192px;

//spacing
@navbar-height: 52px;
@bottom-spacing: 25px;
@element-top-spacing: 10px;
@element-bottom-spacing: @element-top-spacing;
