//screen
@screen-xs-max: 768px;
@screen-sm-min: 768px;
@screen-sm-max: 992px;
@screen-md-min: 992px;
@screen-md-max: 1200px;
@screen-lg-min: 1200px;

//color

//border
@bs-nav-border-radius: 4px;

//sticky footer


//spacing
@navbar-height: 50px;
