@import (once) '../variables.less';
@import (once) '../mixins.less';

footer > .content-wrap {
	@bg-color: #303030;
	@text-color: #ccc;
	@share-icon-color: #30e5ff;

	color: @text-color;
	background-color: @bg-color;

	.text {
		padding: 10px 0;
		display: none;
		text-transform: uppercase;
	}

	.contact {
		padding: 10px 0;
		text-align: center;
		font-size: 22px;
		line-height: 30px;
		text-shadow: 1px 1px 1px #888;
		text-transform: uppercase;
	}

	.copywrite {
		padding: 12px 0;
		text-align: center;
	}

	.manage {
		display: none;
		text-align: right;
		font-size: 10px;
		text-transform: uppercase;
		padding: 15px 0;
	}

	.bg {
		color: darken(@text-color, 25%);
		background-color: lighten(@bg-color, 5%);

		a,
		a:hover,
		a:visited {
			text-decoration: none;
			color: darken(@text-color, 25%);
		}
	}

	@media(min-width: @screen-sm-min) {
		.text {
			display: block;
		}

		.contact {
			text-align: right;
		}
	}

	@media(min-width: @screen-md-min) {
		.manage {
			display: block;
		}

		.copywrite {
			text-align: left;
		}
	}

	.ya-share2 {
		> div {
			> ul {
				display: block;
				list-style: none;
				padding: 0;
				margin: 0;
				text-align: center;

				li {
					display: inline-block;
					margin: 10px;
					padding: 10px;

					.ya-share2__badge {
						.ya-share2__icon {
							font: normal normal normal 20px/1 'social-icons';
							text-rendering: auto;
						}
					}

					.ya-share2__counter,
					.ya-share2__title {
						display: none;
					}

					a,
					a:visited {
						text-decoration: none;
						color: @share-icon-color;
						text-shadow: 1px 1px 20px @share-icon-color;
					}

					a:hover {
						color: lighten(@share-icon-color, 20%);
						text-shadow: 1px 1px 20px lighten(@share-icon-color, 20%);
					}
				}

				li[class$="vkontakte"] .ya-share2__icon:before {
					content: '\e801';
				}

				li[class$="facebook"] .ya-share2__icon:before {
					content: '\e802';
				}

				li[class$="_odnoklassniki"] .ya-share2__icon:before {
					content: '\e811';
				}

				li[class$="gplus"] .ya-share2__icon:before {
					content: '\e807';
				}

				li[class$="linkedin"] .ya-share2__icon:before {
					content: '\e805';
				}
			}
		}
	}
}
