@import (once) '../variables.less';
@import (once) '../mixins.less';

footer > .content-wrap {
	@bg-color: #303030;
	@text-color: #ccc;

	color: @text-color;
	background-color: @bg-color;

	.text {
		padding: 10px 0;
		display: none;
		text-transform: uppercase;
	}

	.contact {
		padding: 10px 0;
		text-align: center;
		font-size: 22px;
		line-height: 30px;
		text-shadow: 1px 1px 1px #888;
		text-transform: uppercase;
	}

	.copywrite {
		padding: 12px 0;
		text-align: center;
	}

	.manage {
		display: none;
		text-align: right;
		font-size: 10px;
		text-transform: uppercase;
		padding: 15px 0;
	}

	.bg {
		color: darken(@text-color, 25%);
		background-color: lighten(@bg-color, 5%);

		a {
			.remove-link-decoration();
			.set-link-color(darken(@text-color, 25%));
		}
	}

	@media(min-width: @screen-sm-min) {
		.text {
			display: block;
		}

		.contact {
			text-align: right;
		}
	}

	@media(min-width: @screen-md-min) {
		.manage {
			display: block;
		}

		.copywrite {
			text-align: left;
		}
	}
}
