
@{
	ViewBag.Title = "About";
}

<div class="page-header">
	<h1>О компании AVRGroup</h1>
</div>
<p class="lead">На этой странице:</p>
<ul>
	<li>О нас</li>
	<li>Стратегия развития</li>
	<li>Сотрудничество</li>
</ul>
<h2>О нас</h2>
<p>Небольная история компании</p>
<h2>Стратегия развития</h2>
<p>О наших планах на будущее</p>
<h2>Сотрудничество</h2>
<p>С какими отраслямы мы работаем</p>