
@{
	ViewBag.Title = "Информация заказчику";
}

@section seo {
	<meta name="keywords" content="" />
	<meta name="description" content="" />
}

@section og {
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:locale" content="ru_RU">

	<meta property="og:title" content="">
	<meta property="og:description" content="">

	<meta property="og:image" content="">
	<meta property="og:image:type" content="">
	<meta property="og:image:width" content="">
	<meta property="og:image:height" content="">
}

@section schema {

}

<div class="page-header">
	<h1>@ViewBag.Title</h1>
</div>
<div class="row">
	<div class="col-md-8">
		<h2>Порядок работы</h2>
		<ol>
			<li>Вы делаете заявку на электронную почту или по телефону</li>
			<li>Мы выставляем Вам счет на оплату</li>
			<li>Отправляем Вам заказ на следующий день после оплаты</li>
		</ol>
		<h2>Регламент</h2>
		<p>
			Ваш заказ одновременно с выставлением Вам счета передается на производство для комплектации.<br />
			Благодаря этому уже через 2,5 – 3 часа он готов к отправке.<br />
			Доставка до терминала любой ТК Москвы и Рязани бесплатно.<br />
			<i class="text-info">Для удобства в нашем прайсе добавлена графа &laquo;Примечание&raquo;, в которой вы можете проставить необходимое количество для каждого требуемого товара</i>
		</p>
		<h2>Документы</h2>
		<p>
			Вместе с грузом отправляются документы: счет и УПД.<br />
			Документы укладываются в одну из коробок с товаром и коробка маркируется: &laquo;Документы&raquo;<br />
			<span class="text-info">Второй экземпляр УПД с подписью и печатью о приеме груза отправить на почтовый адрес: 390048 г. Рязань, Шереметьевский проезд д.8 кв. 169</span>
		</p>
	</div>
	<div class="col-md-3 hidden-xs hidden-sm">
		<img src="~/img/work-order.jpg" alt="" class="img-responsive"/>
	</div>
</div>
