
@{
	ViewBag.Title = "CustomerInfo";
}

<div class="page-header">
	<h1>Информация для заказчика</h1>
</div>
<p class="lead">На этой странице:</p>
<ul>
	<li>Как мы работаем</li>
	<li>Регламент</li>
	<li>Документы</li>
</ul>
<h2>Как мы работаем</h2>
<p>Об организации работы</p>
<h2>Регламент</h2>
<p>Регламент обработки заказа</p>
<h2>Документы</h2>
<p>Документы, которые мы предоставляем заказчику</p>
