
@{
	ViewBag.Title = "Информация заказчику";
}

@section seo {
	<meta name="keywords" content="" />
	<meta name="description" content="" />
}

@section og {
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:locale" content="ru_RU">

	<meta property="og:title" content="">
	<meta property="og:description" content="">

	<meta property="og:image" content="">
	<meta property="og:image:type" content="">
	<meta property="og:image:width" content="">
	<meta property="og:image:height" content="">
}

@section schema {

}

<div class="page-header">
	<h1>@ViewBag.Title</h1>
</div>
<p class="lead">На этой странице:</p>
<ul>
	<li>Как мы работаем</li>
	<li>Регламент</li>
	<li>Документы</li>
</ul>
<h2>Порядок работы</h2>
<ol>
	<li>Вы делаете заявку (можно прямо в нашем прайсе в правом столбце «Примечание» поставить необходимое количество требуемого товара) на электронную почту или по телефону</li>
	<li>Мы выставляем Вам счет на оплату</li>
	<li>Отправляем Вам заказ на следующий день после оплаты</li>
</ol>
<h2>Регламент</h2>
<p>
	Ваш заказ одновременно с выставлением Вам счета передается на производство для комплектации.<br/>
	Поэтому уже через 2,5 – 3 часа он готов к отправке.<br/>
	Доставка до терминала любой ТК Москвы и Рязани бесплатно.
</p>
<h2>Документы</h2>
<p>
	Документы на груз: счет-оригинал и УПД-оригинал – 2 экземпляра укладываются в одну из коробок с товаром и коробка маркируется: «Документы»<br/>
	Просьба! 1 экземпляр УПД с подписью и печатью о приеме груза отправить по адресу: 390000 г. Рязань, Ряжское шоссе 20
</p>
