
@{
	ViewBag.Title = "Упаковка и логистика";
}

@section seo {
	<meta name="keywords" content="" />
	<meta name="description" content="" />
}

@section og {
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:locale" content="ru_RU">

	<meta property="og:title" content="">
	<meta property="og:description" content="">

	<meta property="og:image" content="">
	<meta property="og:image:type" content="">
	<meta property="og:image:width" content="">
	<meta property="og:image:height" content="">
}

@section schema {

}

<div class="page-header">
	<h1>@ViewBag.Title</h1>
</div>
<h2>Виды упаковки</h2>
<p class="lead">Продукция упаковывается в зависимости от вида и объема тары:</p>
<ul>
	<li>Флаконы по 1шт. в индивидуальную упаковку с европодвесом</li>
	<li>Флаконы до 1л по 10шт. в пленку</li>
	<li>Флаконы от 1л по 1шт. без плетки</li>
	<li>Банки по 1шт в индивидуальную упаковку с европодвесом</li>
	<li>Банки весом до 30гр по 10шт в пленку</li>
	<li>Банки весом от 30гр по 2шт. в пленку</li>
	<li>Припои на катушках до 1кг по 5шт. в пленку</li>
	<li>Припои на катушках свыше 1кг по 1шт в бумагу</li>
	<li>Припои в виде спиралей по 10шт в пакеты Zip-lock</li>
	<li>Флюс-гели в промышленном картридже с дозатором и толкателем по 1шт. в блистер или пакет с европодвесом</li>
	<li>Припои в прутках (стержнях) и бухтах заворачиваются в мешковину в виде пачки любым требуемым весом</li>
</ul>

<h2>Характеристики упаковки</h2>
<p>
	Товар укладывается в коробки из гофрокартона, заклеивается скотчем со всех сторон.
	Каждое тарное место маркируется адресной запиской с указанием отправителя и получателя.
</p>
<p>
	Примерный вес коробки: 10кг<br/>
	Объем коробки: 0,03м3
</p>
