
@{
	ViewBag.Title = "PackingInfo";
}

<div class="page-header">
	<h1>Упаковка и логистика</h1>
</div>
<p class="lead">На этой странице:</p>
<ul>
	<li>Виды упаковки</li>
	<li>Характеристики упаковки</li>
	<li>Логистика</li>
	<li>Содержание пакета</li>
</ul>
<h2>Виды упаковки</h2>
<p>Как мы упаковываем товар</p>
<h2>Характеристики упаковки</h2>
<p>Габариты и масса различных видов упаковки</p>
<h2>Логистика</h2>
<p>Информация по логистике</p>
<h2>Содержание пакета</h2>
<p>Как мы комплектуем товар</p>
