<div class="group-card">
	<img src="http://placehold.it/1280x720" alt="" class="img-responsive photo"/>
	<h4 class="caption">
		<span class="text-nowrap">Флюсы</span>,
		<span class="text-nowrap">Флюс-гели</span>,
		<span class="text-nowrap">Флюс-люксы</span>,
		<span class="text-nowrap">Смазочные материалы</span>
	</h4>
	<div class="description">
		<p>
			Тестовое описание текущей группы<br/>
			Даже в несколько строк и даже с HTML!
		</p>
		<ul>
			<li>Point 1</li>
			<li>Point 2</li>
			<li>Point 3</li>
			<li>Point 4</li>
			<li>Point OVR</li>
			<li>Point OVR</li>
		</ul>
	</div>
	<p class="links">
		Browse catalog:<br/>
		<a href="#" class="btn btn-primary">Link</a>
		<a href="#" class="btn btn-primary">Another link</a>
		<a href="#" class="btn btn-primary">One more link</a>
		<a href="#" class="btn btn-primary">And the last one</a>
	</p>
</div>
