<div class="row">
	<div class="col-lg-3">
		<img src="http://placehold.it/500x500" alt="" class="img-responsive"/>
	</div>
	<div class="col-lg-7">
		<p>
			<span>Артикул: <span>A000000</span></span>
			<span>Набор: <span class="glyphicon glyphicon-ok"></span></span>
		</p>
		<p>Масса: <span>XX</span></p>
		<p>Объем: <span>XX</span></p>
		<p>Размер тары: <span>XX</span> x <span>XX</span> x <span>XX</span></p>
		<div>Резьбовые опоры применяются в качестве ножек металлических и деревянных конструкций и могут использоваться для регулирования высоты. Изделия применяются при сборке складских стеллажей, торгового оборудования, офисной мебели, шкафов, диванов, кроватей, спортивного инвентаря и других конструкций.</div>
	</div>
</div>
