<table class="table table-bordered">
	<thead>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
	</thead>
	<tbody>
		@for (var i = 0; i < 10; i++)
		{
			<tr>
				<td>x</td>
				<td>x</td>
				<td>x</td>
			</tr>
		}
	</tbody>
</table>
