<div class="table-responsive">
	<table class="table table-bordered product-list">
		<thead>
			<tr>
				<td class="code">
					<h4>Артикул</h4>
				</td>
				<td class="caption">
					<h4>Наименование</h4>
				</td>
				<td class="kit">
					<h4>Набор</h4>
				</td>
				<td class="image"></td>
				<td class="link"></td>
			</tr>
		</thead>
		<tbody>
			@for (var i = 1; i < 11; i++)
			{
				<tr>
					<td colspan="5">
						<a href="#" class="wrap">
							<div class="code">A000000</div>
							<div class="caption">Продукция с описанием среднестатистической длины или даже очень длинным названием или даже невероятно длинным названием омг какой длины хД @i</div>
							<div class="kit">
								<span class="glyphicon glyphicon-ok"></span>
							</div>
							<div class="image">
								<img src="http://placehold.it/128x128" alt="" class="img-responsive" />
							</div>
							<div class="link">
								<span class="btn btn-link">Подробнее</span>
							</div>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
