<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Артикул</th>
				<th>Вес</th>
				<th>Объем</th>
				<th>Размеры</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>А000000</td>
				<td>25g</td>
				<td></td>
				<td></td>
				<td>
					<a href="#" class="btn btn-link">Перейти</a>
				</td>
			</tr>
			<tr>
				<td>А000000</td>
				<td>250g</td>
				<td></td>
				<td></td>
				<td>
					<a href="#" class="btn btn-link">Перейти</a>
				</td>
			</tr>
			<tr>
				<td>А000000</td>
				<td>250g</td>
				<td></td>
				<td></td>
				<td>
					<a href="#" class="btn btn-link">Перейти</a>
				</td>
			</tr>
			<tr>
				<td>А000000</td>
				<td>250g</td>
				<td></td>
				<td></td>
				<td>
					<a href="#" class="btn btn-link">Перейти</a>
				</td>
			</tr>
			<tr>
				<td>А000000</td>
				<td>250g</td>
				<td></td>
				<td></td>
				<td>
					<a href="#" class="btn btn-link">Перейти</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>